<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<div class="w-25 mx-auto mt-5 bg-light">

    <form action="/productos" method="POST">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombreInput" name="title" placeholder="Nombre producto">
      </div>

      <div class="form-group">
        <label for="precio">Precio</label>
        <input type="number" class="form-control" id="precioInput"  name="price" placeholder="$$$">
      </div>

      <div class="form-group">
        <label for="url">URL</label>
        <input type="text" class="form-control" id="urlInput" name="thumbnail" placeholder="URL">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

</body>
</html>
